body {
  background-color: 9B9B9B;
  margin: 0;
}

.main-content {
  height: 100vh;
  display: grid;
  grid-template-rows:auto auto;
  overflow-y: scroll;
}

.edicion {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c3c9ca;
  bottom: 0;
  width: 100%;
  z-index: 999;
  padding: 1em 0 1em 0;
  gap: 3vh;
}


.titulo {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 62px;
  line-height: 61px;
  color: #FFFFFF;
  margin: 0;
  padding: .5em;
}

.iconos-wrapp{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.subtitulo {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:900;
  font-size: 40px;
  line-height: 41px;
  text-align: center;

  color: #000000;
}

.seleccion-recorte {
  height: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#preview {
  width: 400px;
  height: 400px;
}

.joinImage {
  display: flex;
  justify-content: center;
  position: relative;
}

.img-marco {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.img-perfil {
  width: 400px;
  height: 400px;
  z-index: -1;
  border-radius: 50%;
}

.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.7em;
  padding: .7em;
} 

 .file-select input[type="file"] {
  opacity: 0;

  
  display: inline-block;
}

#src-file1::before {
  content: 'Subir imagen';
} 

#icon-btn{
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: transparent;
  border: 5px solid rgb(7, 7, 29);
}

#editor {
  padding: 1em 4em 3em 4em; 
}

#imagesMosaic {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.img_get_marco {
  display: block;
  width: 250px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.137);
  margin: 0;
  border: 0;
  border-radius: 30px;

}

.btn_get_marco{
  background-color: transparent;
  border: 0;
}

.croppr-image{
  max-height:max-content;
  display: block;
}